<br />
<br />
<br />
<br />
<h1>Something went wrong...</h1>
<h2>You did not fill in the form in the correct way, please make a new try.</h2>
<%= button_to "Try again", sitebrowser_path, :class=>"styled_btn" %>
