<h1>Tune sience</h1>
<p><b>Välkommen till tune sience!</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta accumsan convallis. Maecenas magna libero, vulputate condimentum pharetra a, consectetur eget dolor. Aenean ullamcorper leo quis turpis pellentesque eu pulvinar est venenatis. Morbi ornare lacus in dui luctus a aliquam purus cursus. Integer porta, risus sit amet mattis semper, ante.</p>
<h2>
	<%= link_to "Play Quizz", play_path %><!--Länk till '/play' i routes.rb-->
</h2>
<h2>Länkt till regisrera användare</h2>
<h2>Bild på maskot</h2>
<h2>Twitterflöde</h2>
<h2>Citat ur databasen</h2>
