<br />
<br />
<br />
<br />
<h1>How to play</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend, nibh at laoreet tristique, orci eros adipiscing lectus, 
	eu scelerisque erat magna quis sem. Sed vestibulum gravida nibh, eu malesuada tellus suscipit nec. Curabitur et congue tellus. 
	Nam diam lectus, tempor quis bibendum vel, aliquam sit amet leo. Integer et augue et ipsum aliquam semper a at erat. Donec ultrices.</p>

<%= button_to "Play Quiz", confirm_path, :class=>"styled_btn" %> <!--Länk till '/confirm' i routes.rb-->
