<footer>
	  <p>&copy; Sidan är skapad av Mathias Bergqvist i kursen TDDD27, Avancerad webprogrammering via <a class="footerlink" href="http://www.liu.se" TARGET="_blank">Linköpings Universitet</a>.
	  <a class="footerlink" href="http://www.mathiasbergqvist.se" TARGET="_blank">Kontakt</a></p>
</footer>