<footer>
  <div class="navigation">
	  <p>&copy; Sidan är skapad av Mathias Bergqvist i kursen TDDD27, Avancerad webprogrammering på <a href="http://www.liu.se" TARGET="_blank">Linköpings Universitet</a></p>
	  <a href="http://www.mathiasbergqvist.se" TARGET="_blank">Kontakt</a>
	  <p>TWITTER</p>
	  <p>FACEBOOK</p>
  </div>
</footer>